.textbox{
    float: right;
    border: 1px solid solid black;
}

ul li{
    float:left;
    width: 200px;
    text-transform: capitalize;
    list-style-type: none;
    font-family: kulim park ,sans-serif;
}

ul li a{
    text-decoration: none;
    color:white;
}
ul li a:hover{
    color:hotpink;
}

b{
    color: hotpink;
    border-bottom: 2px solid hotpink;
    font-weight: normal;
}

body{
    background: linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68),rgba(0,0,0,0.68),rgba(0,0,0,0)),url(fundo06.jpg)no-repeat;
    background-size: cover;
}

.cover{
    border: 1px solid black;
    text-align: center;
    width: 400px;
    height: 550px;
    position: absolute;
    left: 10%;
    top:20%;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 7px;
    opacity: 0.6;
}
.subcover{
    border-bottom: 1px solid none;
    background: black;
    width: 400px;
    height: 550px;
    opacity: 0.6;
    border-radius: 8px;
}

.coverimage{
    text-align: center;
}
img{
    border-radius: 30px;
    position: absolute;
    left: 25%;
    top: 10%;
    margin: -10px -9px;
    opacity: 0.7;
}

.text{
    position: absolute;
    left: 31%;
    top:50%;
    margin: -1px 10px;
}
h1{
    color:white;
    font-family: kulim park,sans-serif;
    line-height: 7px;
    font-weight:normal;
    margin-top: 20px;
    margin-right: 10px;
}
h2{
    color: white;
    font-family: kulim park,sans-serif;
    font-weight: normal;
    font-size: 20px;
    opacity: 0.3;
    margin-top: 20px;
    margin-right: 10px;
    
}
.line{
    border-bottom: 2px solid white;
    position: absolute;
    top:65%;
    left: 15%;
    width: 320px;
    box-shadow: 1px 0px 4px;
    color: hotpink;
}
.fa-circle{
    color: hotpink;
    position: absolute;
    left: 35%;
    margin-top: -7px;
    
}

h3{
    position: absolute;
    left: 15%;
    top:63%;
    font-size: 14px;
    color:white;
    font-family: kulim park ,sans-serif;
    font-weight: normal;
}
h4{
    position: absolute;
    left: 81%;
    top:62%;
    font-size: 18px;
    color:white;
    font-family: kulim park ,sans-serif;
    font-weight: normal;
}

.player{
    border-bottom: 1px solid white;
    font-size: 70px;
}
.fa-pause-circle{
    color:hotpink;
    position: absolute;
    left: 43%;
    top:72%;
}

.forward{
    font-size: 54px;
}
.fa-forward{
    color: white;
    position: absolute;
    left: 63%;
    top:74%;
    
}

.forward:hover{
    font-size:60px;
}

.backward{
    font-size: 54px;
}

.fa-backward{
    color:white;
    position: absolute;
    left: 26%;
    top:74%;
}
.backward:hover{
    font-size: 60px;
}

.retweet{
    font-size: 30px;
    font-weight: normal;
}
.fa-retweet{
    color:hotpink;
    position: absolute;
    left: 16%;
    top:77%;
}

.repeat{
    font-size: 30px;
}
.fa-repeat{
    color:hotpink;
    position: absolute;
    left:80%;
    top:77%;
}
.context{
    position: absolute;
    left: 40%;
    top:20%;
}

h5{
    font-size:60px;
    color:white;
    font-family: titillium web,sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

font{
    color:white;
    opacity: 0.2;
}

h6{
    font-size: 18px;
    color:white;
    font-family: titillium web,sans-serif;
    font-weight: normal;
    width: 550px;
    margin-top: -16%;
    word-spacing: 5px;
    opacity: 0.2;
    text-align:justify;
}
.box{
    position: absolute;
    left: 35%;
    top:55%;
}

input[type="submit"]{
    
    padding: 10px;
    border:none;
    opacity: 0.8;
    color:white;
    border-radius: 4px;
    background-color: hotpink;
}

input[type="submit"]:hover{
    background-color: deeppink;
}

.icon{
    font-size: 25px;
    color:hotpink;
    font-family: kulim park ,sans-serif;
    position: absolute;
    left: 1%;
}
.fa-music{
    color:hotpink;
    font-weight: bold;
}
span{
    color:white;
}

.popup{
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.6)
    
}



.promo_btn {
    display: block;
    width: 200px;
    height: 50px;
    color: black;
    border: none;
    position: absolute;
    left: 40%;
    top:55%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 18px;
}


.regform { 
    width: 800px; 
    background-color:rgb(0,0,0,0.6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px; 
    text-align: center;
    border-radius: 15px 15px 0px 0px;
  }
  
  .main { 
    background-color: rgb(0,0,0,0.5);
    width: 800px; 
    margin: auto;
  }
  
  form { 
    padding:10px; 
  }
  
  #name { 
    width: 100%;
    height: 100px;
  }
  
  .name { 
    margin-left: 25px;
    margin-top: 30px; 
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
  
  .firstname { 
    position: relative;
    left: 200px;
    top: -37px; 
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
  }
  
  .lastname { 
    position: relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px; 
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  }
  
  .firstlabel { 
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px; 
    top: -45px;
  }
  
  .lastlabel { 
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 175px; 
    top: -45px;
  }
  
  .company { 
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px; 
    font-size: 16px;
    color: #555;
   }
  
  .email { 
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px; 
    font-size: 16px;
    color: #555;
  }
.code { 
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 95px;
    border-radius: 6px;
    padding: 0 22px; 
    font-size: 16px;
    color: #555;
  }
  .number { 
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 255px;
    border-radius: 6px;
    padding: 0 22px; 
    font-size: 16px;
    color: #555; 
  }
  
  .area-code { 
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: 54px;
    top: -4px;
  }
  
  .phone-number { 
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: -100px;
    top: -2px;  
  }
  
  .option { 
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    height: 40px; 
    border-radius: 6px;
    padding: 0 22px; 
    font-size: 16px;
    color: #555;
    outline: none; 
    overflow: hidden;
  }
  
  .option option{ 
    font-size: 20px; 
  }
  
  #customer { 
    margin-left: 25px; 
    color: white;
    font-size: 18px;
  }
  
  .radio { 
    display: inline-block;
    padding-right: 70px; 
    font-size: 25px; 
    margin-left: 25px;
    margin-top: 15px; 
    color: white;
  }
  
  .radio input{ 
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    cursor: pointer; 
    outline: none;
  }
Button { 
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
  }
  
  button:hover { 
    background-color: #5390F5;
  }